---
layout: default
---

<div class="home">

    {{ content }}
  
    {% for post in site.posts %}
        <div class="row">
            <article class="col post-summary">
                <h2>
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                </h2>
                <div class="post-meta">
                    <time>{{ post.date | date: "%B %d, %Y" }}</time>
                    {% for category in post.categories %}
                    <a href="#" class="tag"><span class="badge badge-secondary">#{{ category }}</span></a>
                    {% endfor %}
                    {% for tag in post.tags %}
                    <a href="{{ baseurl }}/tags#{{ tag | slugize }}" class="tag"><span class="badge badge-secondary">#{{ tag }}</span></a>
                    {% endfor %}
                </div>

                {{ post.excerpt }}
            </article>
        </div>
    {% endfor %}
</div>